<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Bank-Account</title>
  <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link href="css/styles.css" rel='stylesheet' type='text/css'>
  <script src="js/scripts.js"></script>

</head>

<body>
  <div class="container">

    <h1 class="firstWord">Creative<span class="secondWord">Banking</span></h1>
    <hr />
    <!--<p>Hello {{account.name}}! You currently have a balance of: {{account.runningBalance | currency}}-->
    <!--</p>-->

     <h4 class="alert alert-default" ng-bind-template="Hello {{account.name}} your balance is: {{account.runningBalance | currency}}" moneywarn="account.runningBalance" data-startbalance="{{account.startingBalace}}"></h4>

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Make a transaction</h3>
          </div>
          <div class="panel-body">
            <form class="form-inline">
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="" ng-model='transaction.description'>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number" step="0.01" min=0 class="form-control" id="amount" placeholder="0.00" ng-model="transaction.amount">
                </div>
              </div>
              <select class="form-control" ng-model="transaction.type">
                <option value='debit'>Debit</option>
                <option value='credit'>Credit</option>
              </select>
              <button type="submit" class="btn btn-primary" ng-click="saveTransaction()">Save</button>
            </form>
          </div>
        </div>

        <hr />
        <p>
          <strong>Sort Transactions by:</strong>
          <select ng-model="transType" class="form-control">
            <option value=''>All</option>
            <option value='credit'>Credit</option>
            <option value='debit'>Debit</option>
          </select>
        </p>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Type</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in transactionList | filter: transType">
              <td ng-bind="row.type"></td>
              <td ng-bind="row.description"></td>
              <td ng-bind="row.amount | currency"></td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</body>

</html>
